.successpage {
    margin: 0 auto;
    border: 1px solid black;
    background: white;
    // margin-top: 20px;
    font-size: 40px;
    padding: 50px;
    p {
        margin: 10px 0;
        padding: 5px;
        line-height: 2.5rem;
    }
    &__trylogin-loginlink {
        cursor: pointer;
    }
    a {
        color: #6A11CB;
    }
}

.contain {
    padding: 50px 100px;
    margin: 0 auto;
}